@model Myte.Models.Funcionario

@{
    ViewData["Title"] = "Cadastrar Funcionário";
}

@if (TempData["message"] != null)
{
    <script src="/lib/jquery//dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["message"]');
    </script>

}

<style>

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
    }


    .text-center-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .title-style {
        color: black;
        font-size: 45px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
      
    }

    .col-form-label {
        font-weight: bold;
    }

</style>
<img src="~/IMG/IMG3.png" class="background-image" alt="Background Image">

<div style="text-align: center;">
    <h1 class="title-style">Cadastrar Funcionário</h1>    
<div class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header bg-white text-black">                 
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group row">
                            <label for="FuncionarioNome" class="col-sm-4 col-form-label">Nome do Funcionário:</label>
                            <div class="col-sm-8">
                                <input asp-for="FuncionarioNome" class="form-control" />
                                <span asp-validation-for="FuncionarioNome" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="Email" class="col-sm-4 col-form-label">E-mail:</label>
                            <div class="col-sm-8">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="DepartamentoId" class="col-sm-4 col-form-label">Departamento:</label>
                            <div class="col-sm-8">
                                <select asp-for="DepartamentoId" class="form-control" asp-items="ViewBag.DepartamentoId"></select>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="DataContratacao" class="col-sm-4 col-form-label">Data de Contratação:</label>
                            <div class="col-sm-4">
                                <input asp-for="DataContratacao" type="date" class="form-control" />
                                <span asp-validation-for="DataContratacao" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="NivelAcesso" class="col-sm-4 col-form-label">Nível de Acesso:</label>
                            <div class="col-sm-4">
                                <input asp-for="NivelAcesso" class="form-control" />
                                <span asp-validation-for="NivelAcesso" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="Status" class="col-sm-4 col-form-label">Status:</label>
                            <div class="col-sm-4">
                                <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="Senha" class="col-sm-4 col-form-label">Senha:</label>
                            <div class="col-sm-4">
                                <input asp-for="Senha" type="password" class="form-control" />
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>
                        <br />
                        </div>
                        <br />
                        <div class="form-group row">
                                <div class="form-group text-center">                                      
                                <button type="submit" class="btn btn-dark">Criar</button> |
                                <a asp-action="Index" class="btn btn-secondary ml-2">Voltar</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
