@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "ROLES";
}
<style>
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
    }

    .title-style {
        color: black;
        font-size: 40px; 
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
    }
</style>

<img src="~/IMG/IMG3.png" class="background-image" alt="Background Image">

<div style="text-align: center;">
    <h1 class="title-style">Nível de Acesso</h1>
    <br />
    <p>
        <a asp-action="Create" class="btn btn-dark">CADASTRAR</a>
    </p>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 80%;">Nome</th>
                        <th scope="col" style="width: 20%;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>
                            <td>
                                <a class="btn btn-secondary" asp-action="Update" asp-route-id="@role.Id">Editar</a>
                                <form asp-action="Delete" asp-route-id="@role.Id" method="get" style="display: inline;">
                                    <button type="submit" class="btn btn-danger">
                                        Deletar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
