@model Myte.Models.Registro

@{
    ViewData["Title"] = "Editar Registro";
}

@if (TempData["message"] != null)
{
    <script src="/lib/jquery//dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["message"]');
    </script>
}

<style>
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
    }

    .form-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .gray-button {
        background-color: gray;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        margin-right: 10px;
    }
</style>

<img src="~/IMG/IMG3.png" class="background-image" alt="Background Image">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">EDITAR REGISTRO</h2>
                    <hr />
                    <br />
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="RegistroId" />
                                <br />

                                <div class="form-group">
                                    <label asp-for="FuncionarioId" class="control-label"><strong>ID Funcionário:</strong></label>
                                    <select asp-for="FuncionarioId" class="form-control" asp-items="ViewBag.FuncionarioId"></select>
                                    <span asp-validation-for="FuncionarioId" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label asp-for="WBSId" class="control-label"><strong>Código WBS:</strong></label>
                                    <select asp-for="WBSId" class="form-control" asp-items="ViewBag.WBSId"></select>
                                    <span asp-validation-for="WBSId" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label asp-for="HorasTrab" class="control-label"><strong>Horas Trabalhadas:</strong></label>
                                    <input asp-for="HorasTrab" class="form-control" />
                                    <span asp-validation-for="HorasTrab" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label asp-for="DataRegistro" class="control-label"><strong>Data Registro:</strong></label>
                                    <input asp-for="DataRegistro" class="form-control" />
                                    <span asp-validation-for="DataRegistro" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group text-center">
                                    <input type="submit" value="Salvar" class="btn btn-dark" /> |
                                    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                                </div>
                                <br />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
